header {
   min-width: 100%;
   background-color: #3476FF;
   text-align: center;
   padding: 1.5em;
   margin-bottom: 1.5em;
}
header h1 {
   font-family: 'Lato Bold', 'Helvetica Neue', Helvetica;
   color: #FFF;
   margin: 0;
}
#main-wrapper {
   width: 1200px;
   margin: 0 auto;
   /*padding: 0 1.5em;*/
   position: relative;
}

.col {
   display: inline-block;
   float: left;
   margin-left: 1em;
   margin-right: 1em;
}
.col::after {
   content: '';
   display: block;
   clear: both;
}
.col-big {
   width: calc(70% - 2em);
}
.col-small {
   width: calc(30% - 2em);
}

button[name="rec-n-end-button"] {
   width: 60px;
   height: 60px;
   background-color: #3476FF;
   border: none;
   border-radius: 50%;
   position: fixed;
   top: 64px;
   right: -32px;
   background-image: url('../img/save.svg');
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center;
   -webkit-box-shadow: 0px 0px 10px 1px #555;
   box-shadow: 0px 0px 10px 1px #555;
   transition: all ease 0.5s;
}
button[name="rec-n-end-button"]:hover {
   background-color: #9ABBFF;
   top: 62.5px;
   right: -5px;
   width: 65px;
   height: 65px;
}
button[name="rec-n-end-button"]:focus {
   outline: none;
}
footer {
   min-width: 100%;
   background-color: #3476FF;
   height: 100px;
   margin-top: 100px;
}