.wrapper-timer {
   min-width: 285px;
   padding: 25px;
   text-align: center;
   font-family: 'Lato Bold', Arial ,sans-serif;
}
.jumbo-text {
   font-size: 400%;
}
.wrapper-timer .timer-button {
   width: 220px;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   position: relative;
}
.wrapper-timer .timer-reset {
   width: 20px;
   height: 20px;
   display: block;
   margin: 1em auto 0;
   background-image: url('reset_arrow.svg');
   opacity: 0.35;
   transition: opacity ease 0.15s;
}
.wrapper-timer .timer-reset:hover {
   opacity: 0.85;
}
.wrapper-timer .popup {
   top: 97%;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   transform: translateX(-50%);
}