@font-face {
   font-family: 'Lato Bold';
   src: url('lato-bold-webfont.woff') format('woff');
}

#timer-container {
   width: 280px;
   padding: 25px;
   border: 2px solid #AAA;
   border-radius: 7px;
   text-align: center;
   position: relative;
   font-family: 'Lato Bold', Arial ,sans-serif;
}
#timer-time {
   font-size: 4.3em;
}
#timer-button {
   padding: 0.5em;
   width: 150px;
   font-size: 1.25em;
   font-family: 'Lato Bold', Arial ,sans-serif;
   border-radius: 5px;
   background-color: #3476FF;
   border: 0;
   color: #EEE;
}
#timer-button:hover {
   background-color: #9ABBFF;
}
#timer-reset {
   width: 20px;
   height: 20px;
   background-image: url('reset_arrow.svg');
   background-size: 100%;
   border: 0;
   padding: 0;
   background-color: transparent;
   opacity: 0.35;
   position: absolute;
   right: 1em;
   bottom: 1em;
}
#timer-reset:hover {
   opacity: 0.85;
}
#timer-button, #timer-reset {
   cursor: pointer;
}
#timer-button:focus, #timer-reset:focus {
   outline: none;
}