@font-face {
   font-family: 'Lato Bold';
   src: url('lato-bold-webfont.woff') format('woff');
}
@font-face {
   font-family: 'Josefin Sans';
   src: url('josefinsans-regular-webfont.woff') format('woff');
}

#gh-pushes-wrapper {
   width: 320px;
   position: relative;
}
#gh-pushes-wrapper h1,
#gh-pushes-wrapper #refresh-button
#gh-pushes-wrapper input {
   display: inline-block;
}
#gh-pushes-wrapper h1 {
   font-family: 'Lato Bold', 'Helvetica Neue', Helvetica;
   font-size: 1.5em;
}
#gh-pushes-wrapper #refresh-button {
   width: 15px;
   height: 15px;
   border: none;
   background-color: transparent;
   background-image: url('refresh_arrow.svg');
   background-size: 100%;
   padding: 0;
   margin: 0;
}
#gh-pushes-wrapper #refresh-button:focus {
   outline: none;
}
#gh-pushes-wrapper #refresh-button.refreshing {
   -webkit-filter: grayscale(100%);
}
#gh-pushes-wrapper input {
   text-align: right;
   width: 120px;
   margin: 0;
   height: 1.5em;
   font-family: 'Josefin Sans';
   position: absolute;
   right: 0;
   top: 22px;
   border: none;
   cursor: pointer;
}
#gh-pushes-wrapper input:focus {
   outline: none;
   background-color: #DEDEDE;
   border-radius: 3px;
}
#gh-pushes-body {
   font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica;
   height: 150px;
   overflow: auto;
   padding: 0.25em;
   border: 1px solid #CACACA;
   border-radius: 5px;
}
#gh-pushes-body .message {
   color: #BABABA;
}
#gh-pushes-body .gh-pushes-message {
   margin-bottom: -0.25em;
   line-height: 1.2;
}
#gh-pushes-body .gh-pushes-time {
   color: #BABABA;
   font-size: 80%;
}
