.wrapper-gh-pushes {
   min-width: 310px;
   padding: 0;
}
.wrapper .component-title,
.gh-pushes-refresh,
.input[name="gh-username"] {
   display: inline-block;
}
.gh-pushes-refresh {
   width: 20px;
   height: 20px;
   background-image: url('refresh_arrow.svg');
   vertical-align: text-bottom;
   transition: filter ease 0.25s,
               transform ease 0.25s;
}
.gh-pushes-refresh:hover,
.gh-pushes-refresh.refreshing {
   -webkit-filter: contrast(70%);
   -o-filter: contrast(70%);
   filter: contrast(70%);
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
}
input[name="gh-username"] {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;
   padding: 0 0.15em;
   text-align: right;
   font-family: 'Yantramanav Light', Helvetica, sans-serif;
   height: 20px;
   position: absolute;
   right: 0;
   bottom: 9px;
   width: 10em;
   cursor: pointer;
}
.gh-pushes-body {
   height: 150px;
   font-family: 'Yantramanav Light', Helvetica, sans-serif;
}
.wrapper .wrapper-border {
   padding: 0.25em;
}
.gh-pushes-time {
   color: #CACACA;
   margin-top: -12px;
}