<div id="gh-pushes-wrapper">
   <div id="gh-pushes-head">
      <h1>GitHub Pushes</h1>
      <button id="refresh-button" ng-click="refresh()" ng-class="{refreshing: refreshing}"></button>
      <input name="gh-username" type="text" ng-model="ghUsername" placeholder="GitHub Username" />
   </div>
   <div id="gh-pushes-body">
      <div id="gh-pushes-error-message" class="message" ng-show="noData">Invalid username</div>
      <div id="gh-pushes-empty-message" class="message" ng-show="!ghUsername">Enter GitHub username to get data</div>
      <div class="gh-pushes-entry" ng-repeat="push in data.pushes">
         <p class="gh-pushes-message">
            <a target="_blank" ng-href="https://github.com/{{ push.repo.name }}/commit/{{ push.payload.head }}">
               {{ push.payload.commits[0].message }}
            </a>
         </p>
         <p class="gh-pushes-time">{{ push.created_at | removeTZ }}</p>
      </div>
   </div>
</div>