<div id="gh-pushes-wrapper"  class="wrapper wrapper-gh-pushes">

   <div id="gh-pushes-head" class="pos-relative">
      <h1 class="component-title">GitHub Pushes</h1>

      <button id="gh-pushes-refresh" class="button button-icon gh-pushes-refresh"
       ng-click="refresh()"
       ng-class="{refreshing: refreshing}">
      </button>

      <input name="gh-username" class="edit-on-focus" type="text" 
       ng-model="ghUsername"
       placeholder="Enter GitHub username"
      />
   </div>

   <div id="gh-pushes-body" class="wrapper-border gh-pushes-body v-scroll">
      <div id="gh-pushes-error-message" class="messages messages-bad" ng-show="noData">Invalid username</div>
      <div id="gh-pushes-empty-message" class="messages messages-neutral" ng-show="!ghUsername">
         No GitHub username. Enter on the upper-right to get pushes
      </div>
      <div class="list-entry" ng-repeat="push in data.pushes">
         <p class="gh-pushes-message">
            <a target="_blank" ng-href="https://github.com/{{ push.repo.name }}/commit/{{ push.payload.head }}" class="link">
               {{ push.payload.commits[0].message }}
            </a>
         </p>
         <p class="gh-pushes-time">{{ push.created_at | removeTZ }}</p>
      </div>
   </div>

</div>