.wrapper-notes {
   font-family: 'Yantramanav Light', Helvetica, sans-serif;
}
.btn-toolbar {
   padding: 0.5em 0.5em;
   background-color: #CACACA;
   font-family: 'Lato Bold', 'Helvetica Neue', Helvetica;
   border-radius: 5px 5px 0 0;
}
.btn-group:first-child {
   margin-left: 0;
}
.btn-toolbar {
   margin-left: 0;
}
.btn {
   padding: 3px 6px;
}
.btn.active {
   box-shadow: inset 0 3px 5px rgba(52,118,255,.5);
}
.wrapper-notes .form-control {
   border-radius: 0 0 5px 5px;
}
.wrapper-notes .ta-bind:focus {
   outline: none;
}
.ta-root.focussed > .ta-scroll-window.form-control {
   outline: none;
   background-color: #FEFEDE;
}
.wraper-notes .ta-editor.ta-html, .ta-scroll-window.form-control {
   height: 420px;
   overflow: auto;
   font-family: inherit;
   font-size: 110%;
}
.ta-scroll-window > .ta-bind {
   height: 100%;
}
.placeholder-text::before {
   color: #CACACA;
}