.wrapper-history {
   min-width: 500px;
}
.component-header {
   padding-top: 1px;
   height: 24px;
   border-bottom: none;
   -webkit-border-radius: 5px 5px 0 0;
   -moz-border-radius: 5px 5px 0 0;
   -ms-border-radius: 5px 5px 0 0;
   -o-border-radius: 5px 5px 0 0;
   border-radius: 5px 5px 0 0;
}
.component-header.wrapper-border {
   padding-top: 1px;
   background-color: #CACACA;
}
.wrapper-history .component-body.wrapper-border {
   -webkit-border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
   -ms-border-radius: 0 0 5px 5px;
   -o-border-radius: 0 0 5px 5px;
   border-radius: 0 0 5px 5px;
}
.column {
   display: inline-block;
   height: 24px;
   overflow: hidden;
}
.history-entry {
   height: 25px;
   /*overflow: hidden;*/
   margin-bottom: 0.5em;
}
.component-header .dates {
   margin-left: 0.3em;
}
.dates {
   width: 75px;
   text-align: center;
}
.time {
   width: 55px;
   text-align: center;
}
.notes {
   width: 300px;
   cursor: pointer;
}
.questions {
   width: 75px;
   text-align: center;
   cursor: pointer;
}
.pushes {
   width: 55px;
   text-align: center;
   cursor: pointer;
}
.placeholder {
   color: #CACACA;
}
#history-detail {
   font: ';
}

/*

#history-detail {
   width: 100%;
   overflow: auto;
   height: 150px;
   padding: 5px;
   border: 1px solid #CACACA;
   border-radius: 5px;
}

.placeholder {
   color: #BABABA;
}*/