<div id="history-wrapper" class="wrapper wrapper-history clearfix">
   <h1 id="history-title" class="component-title">Past Study Sessions</h1>
   <div id="history-header" class="component-header wrapper-border clearfix">
      <div class="column dates">Date</div>
      <div class="column time">Time</div>
      <div class="column notes">Notes</div>
      <div class="column questions">Questions</div>
      <div class="column pushes">Pushes</div>
   </div>
   <div id="history-body" class="wrapper-border component-body clearfix">
      <div class="history-entry" ng-repeat="log in history" class="list-entry clearfix">
         <div class="column dates">
            {{ log.entry.date.logged }}
         </div>
         <div class="column time">
            {{ log.entry.time.totalTime || '0' | lengthOfTime }}
         </div>
         <div class="column notes" ng-click="expandNotes(log.entry.notes)">
            <span ng-if="log.entry.notes" class="link">{{ log.entry.notes | noHTMLTags }}</span>
            <span ng-if="!log.entry.notes">-</span>
         </div>
         <div class="column questions" ng-click="expandQuestions(log.entry.questions)">
            <span ng-if="log.entry.questions.length" class="link">{{ log.entry.questions.length - 1 }}</span>
            <span ng-if="!log.entry.questions.length">-</span>
         </div>
         <div class="column pushes" ng-click="expandPushes(log.entry.pushes)">
            <span ng-if="log.entry.pushes.length" class="link">{{ log.entry.pushes.length }}</span>
            <span ng-if="!log.entry.pushes.length">-</span>
         </div>
      </div>
   </div>
   <h1 class="component-title">Past Sessions Detail</h1>
   <div id="history-detail" class="wrapper-border component-body" ng-bind-html="historyDetail" ng-class="{placeholder: isPlaceholder}"></div>
</div>