.text-title {
   font-family: 'Lato Bold', 'Helvetica Neue', sans-serif;
   font-size: 150%;
   color: #333;
}
.bigger {
   font-size: 185%;
}
.link {
   -webkit-border-bottom: 1px dotted #3476FF;
      -moz-border-bottom: 1px dotted #3476FF;
       -ms-border-bottom: 1px dotted #3476FF;
        -o-border-bottom: 1px dotted #3476FF;
   border-bottom: 1px dotted #3476FF;
   color: #3476FF;
   cursor: pointer;
   transition: all ease 0.15s;
}
.link:hover, .link.changing {
   -webkit-border-bottom: 1px dotted #9ABBFF;
      -moz-border-bottom: 1px dotted #9ABBFF;
       -ms-border-bottom: 1px dotted #9ABBFF;
        -o-border-bottom: 1px dotted #9ABBFF;
   border-bottom: 1px dotted #9ABBFF;
   color: #9ABBFF;
}

.date-wrapper .popup {
   left: 66px;
}