.wrapper-questions {
   min-width: 285px;
}
.question {
   padding: 0.25em;
   margin-bottom: 0.75em;
}
.wrapper-questions div[placeholder]:empty::before {
   content: attr(placeholder);
   color: #BABABA;
   cursor: pointer;
}