<div id="questions-wrapper" class="wrapper wrapper-questions">
   <h1 class="component-title">Questions</h1>
   <div id="questions-body" class="wrapper-border component-body v-scroll">
      <div ng-repeat="question in data.questions track by $index">
        <div
         id="question{{ $index }}"
         class="question list-entry"
         contenteditable
         placeholder="Click to write down a question or concern"
         ng-keydown="checkCaret($event)"
         ng-enter="addQuestionBox($index)"
         ng-model="data.questions[$index]"
         ng-blur="deleteIfEmpty($index, $last, data.questions[$index].length)"
         ng-focus="updateFocusIndex($index)"
         force-focus="$index == focusIndex"></div>
      </div>
   </div>
</div>