<section id="app-help" class="app-help">
   <section id="app-instruction" class="app-instruction">
      <div id="instruction-header" class="instruction-header">
         <div class="button-icon float-right close-button" ng-click="showHelp = false"></div>
         <h1 class="component-title">Help Info</h1>
      </div>
      <div id="instruction-body" class="instruction-body v-scroll">
         <h2 class="component-title">What is this?</h2>
         <p>This app allows you to organize your time, thoughts, concerns, and progress in one place.</p>
         <h2 class="component-title">Date</h2>
         <p>Today's date should be shown by default. Change it if it's the wrong date.</p>
         <h2 class="component-title">Timer</h2>
         <ul>
            <li>
               <p>Click START when you're ready to begin studying.</p>
            </li>
            <li>
               <p>Taking a break? PAUSE it, then RESUME when you're ready back on it.</p>
            </li>
            <li>
               <p>If for some reason you need to reset the time, click the reset icon underneath the button.</p>
            </li>
         </ul>
         <h2 class="component-title">Questions</h2>
         <p>Jot down any materials or concept that is not clear to you or that you would like to re-visit at a later time. Use the list in your next mentor session, office hours, or next study time.</p>
         <ul>
            <li>
               <p>Pressing ENTER will make a new entry underneath.</p>
            </li>
            <li>
               <p>Pressing UP or DOWN arrow key at the start or beginning will move you to the previous or next entry respectively.</p>
            </li>
         </ul>
         <h2 class="component-title">GitHub Pushes</h2>
         <p>Updates your pushed commit history automatically every 3 minutes if the username is supplied. Click the Refresh icon to update manually. Note: It may take a minute or two before your recent pushed commit is reflected.</p>
         <h2 class="component-title">Notes</h2>
         <p>Don't loose what you've learned: describe important concepts in your own words in writting so you have a record of it.</p>
         <h2 class="component-title">Past Study Sessions</h2>
         <p>Track how much progress you've made and find ways to keep it up or improve it.</p>
      </div>
   </section>
</section>